body{background-color: black}  
h1 { color: white }
p { color: white }
h2 { color: yellow }


* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
	font-size: 20px;
}


div.taakbalk1{
	border: 1px solid #hsl(0, 0%, 0%);
	background-color: red;
}

div.taakbalk2 {
	border: 20px solid #000000;
	width: auto;

}

div.body{
	text-align: center;
}


ul {
	list-style-type: none;
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
	margin-left: 10px;
	background-color: #1FD860;
}

a.links {
	padding: 7.5px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

a.links:link {
	color: black;
	background-color: #103454;
}

a.links:hover {
	color: black;
	background-color: #E3D228;
}


